.dashboard {
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  h3 {
    font-size: 18px;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .tasks {
    margin: 20px 0;
  }
  
  .task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
  }
  
  .task-title {
    font-weight: bold;
  }
  
  .task-time {
    font-size: 14px;
    color: #888;
    
  }
  
  .task-progress {
    width: 100px; /* Fixed width for progress bar */
    height: 10px;
    background-color: #e0e0e0;
    border-radius: 5px;
  }
  
  .task-progress.completed .progress-bar {
    background-color: #4caf50; /* Green for completed */
  }
  
  .task-progress.in-progress .progress-bar {
    background-color: #2196f3; /* Blue for in-progress */
  }
  
  .team {
    margin-top: 20px;
  }
  
  .team-member {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
  }
  